html, body{
    height: 95%;
    width: 99.5%;
}
.header-style{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 6%;
    border: 1px solid red;
    border-radius: 5px;
}
.main{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5%;
    height: 90%;
    border: 1px solid red;
    border-radius: 5px;
}